{% extends 'base.html' %}
{% block content %}
  <h1>База товаров</h1>
  <p>
    <a href="{% url 'product_create' %}">
      <button type="button">Добавить товар</button>
    </a>
  </p>

  <table border="1">
    <tr>
      <th>Название</th>
      <th>Цена</th>
      <th>Количество на складе</th>
    </tr>
    {% for p in products %}
    <tr>
      <td>{{ p.name }}</td>
      <td>{{ p.price }}</td>
      <td>{{ p.stock_qty }}</td>
    </tr>
    {% empty %}
    <tr><td colspan="3">Товаров пока нет</td></tr>
    {% endfor %}
  </table>

  <p>
    <a href="{% url 'home' %}"><button type="button">Назад</button></a>
  </p>
{% endblock %}
