{% load static %}
<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Сотрудники</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <header>
    <h2>Сотрудники фирмы</h2>
    <div class="nav-links">
      <a href="{% url 'employees:guest_list' %}">Гость</a>
      <a href="{% url 'employees:full_list' %}">Полный список</a>

      {% if user.is_authenticated %}
        <span>{{ user.username }}</span>
        <form method="post" action="{% url 'logout' %}" style="display:inline;">
          {% csrf_token %}
          <button type="submit" class="btn-link" style="width:auto; margin:0;">Выход</button>
        </form>
      {% else %}
        <a href="{% url 'login' %}">Вход</a>
      {% endif %}
    </div>
  </header>

  <main class="main">
    <section class="card">
      {% block content %}{% endblock %}
    </section>
  </main>
</body>
</html>